body
{
	background-image: url("../img/main_bg.jpg")
}

h5
{
	font-weight: 400;
}

.container
{
	margin-top: 150px;
	width: 400px;
	height: 500px;
}

.tabs .indicator
{
	background-color: #e0f2f1;
	height: 60px;
	opacity: 0.3;
}

.form-container
{
	padding: 40px;
	padding-top: 10px;
}

.confirmation-tabs-btn
{
	position: absolute;
}

.error-message{
	font-size: 12px;
	color: #ff2f33;
}