
<div>
    {% if lesson is defined %}
    <div id="editor">{{ temporary_code }}</div>
    {% endif %}
    {% if exercise is defined %}
    <div id="editor"> {{ temporary_code }}</div>
    {% endif %}
    {% if homework is defined  %}
    <div id="editor"> {{ temporary_code }}</div>
    {% endif %}


    <textarea title="console" id = "console" readonly>

    </textarea>

   <div id="buttons">

       {% if lesson is defined %}
  <button id="test-button" class="btn waves-effect waves-light  indigo darken-3 btn-large" onclick="lesson_test_code({{ lesson.id }})" type="submit" name="action">Test
      {% endif %}

      {% if exercise is defined %}
          <button id="test-button" class="btn waves-effect waves-light  indigo darken-3 btn-large" onclick="exercise_test_code({{ exercise.id }})" type="submit" name="action">Test

      {% endif %}

      {% if homework is defined %}
            <button id="test-button" class="btn waves-effect waves-light  indigo darken-3 btn-large" onclick="homework_test_code({{ homework.id }})" type="submit" name="action">Test
      {% endif %}
    <i class="material-icons"></i>
  </button>

   {% if lesson is defined %}
         <button id="submit-button" class="btn waves-effect waves-light red lighten-1 btn-large" onclick="lesson_submit_code({{ lesson.id }})" type="submit" name="action">Submit
   {% endif %}

   {% if exercise is defined %}
         <button id="submit-button" class="btn waves-effect waves-light red lighten-1 btn-large" onclick="exercise_submit_code({{ exercise.id }})" type="submit" name="action">Submit
   {% endif %}

    {% if homework is defined %}
               <button id="submit-button" class="btn waves-effect waves-light red lighten-1 btn-large" onclick="homework_submit_code({{ homework.id }})" type="submit" name="action">Submit

    {% endif %}
    <i class="material-icons right"></i>
  </button>

   </div>
</div>




<script src="../static/aceditor/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/send_code_to_server.js" type="text/javascript" charset="utf-8"></script>