
<div>
    <div id="editor">{{ lesson.source_code }}</div>

    <textarea title="console" id = "console" readonly>

    </textarea>

   <div id="buttons">
  <button id="test-button" class="btn waves-effect waves-light  indigo darken-3" onclick="test_code({{ lesson.id }})" type="submit" name="action">Test
    <i class="material-icons right"></i>
  </button>
  <button id="submit-button" class="btn waves-effect waves-light red lighten-1" onclick="submit_code({{ lesson.id }})" type="submit" name="action">Submit
    <i class="material-icons right"></i>
  </button>

   </div>
</div>




<script src="../static/aceditor/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/js/send_code_to_server.js" type="text/javascript" charset="utf-8"></script>