        <footer class="page-footer teal darken-4" style="margin-bottom: -50px">
          <div class="footer-copyright" style=" font-size: 10px;">
              <div>Icons made by
                  <a href="https://www.flaticon.com/authors/popcorns-arts" title="Painting palette">Painting palette</a> from
                  <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by
                  <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
              </div>
          </div>
        </footer>