<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="../static/css/list_of_lessons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/CodeFlask.js/0.1.1/codeflask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</head>
<body>

{% include 'navbar.html' %}

<div class="container">

    <script>
          document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
      });
    </script>

    <ul class="collapsible" data-collapsible="accordion">
        {% for chapter in chapter_lessons if chapter|length > 1 %}
    <li>
      <div class="collapsible-header">{{ chapter[0].title }}</div>
      <div class="collapsible-body collection collapsible-collection">
          {% for lesson in chapter[1:] %}
                <a href="/lesson/{{ lesson.id }}" class="collection-item">{{ lesson.title }}</a>
          {% endfor %}
      </div>
    </li>
        {% endfor %}
  </ul>

</div>




</body>
</html>